<div class="container flex justify-center">
  <p-card class="w-full md:w-1/3">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="mb-5">
        <label for="email" class="block">Email</label>
        <input
          type="email"
          pInputText
          placeholder="Email"
          formControlName="email"
          class="w-full"
        />
      </div>
      <div class="flex justify-between">
        <p-button
          type="button"
          label="Sign In"
          severity="secondary"
          [link]="true"
          [routerLink]="'/' + routes.LOGIN"
        ></p-button>
        <p-button
          type="submit"
          label="Submit"
          [disabled]="forgotPasswordForm.invalid || loading"
          [loading]="loading"
        ></p-button>
      </div>
    </form>
  </p-card>
</div>