@if (chat) {
  <div class="bg-slate-50 p-3 flex items-center gap-2 border-b border-gray-300">
    @if (chat.user) {
      <p-button
        icon="pi pi-arrow-left"
        [rounded]="true"
        [text]="true"
        severity="secondary"
        [routerLink]="['/' + routes.CHATS]"
      />
      @if (chat.user.img) {
        <p-avatar image="{{ chat.user.img }}" size="large" shape="circle" />
      } @else {
        <p-avatar
          label="{{ chat.user.username | avatarLetter }}"
          size="large"
          shape="circle"
        />
      }
      <div>
        <h2>{{ chat.user.username }}</h2>
        <span>{{
          (chat.user.isOnline && "Online") || (chat.user.lastSeen | dateAgo)
        }}</span>
      </div>
      <p-button
        icon="pi pi-ellipsis-v"
        class="ml-auto"
        [rounded]="true"
        [text]="true"
        severity="secondary"
      />
    }
  </div>
  <div class="flex-1 overflow-auto bg-indigo-100">
    <ul class="p-3 w-full">
      <li
        *ngFor="let message of messages"
        class="flex gap-2 mb-3"
        [ngClass]="message.sender === userId ? 'justify-end' : 'justify-start'"
      >
        <div
          class="relative p-3 rounded-3xl max-w-[75%]"
          [ngClass]="
            message.sender === userId
              ? 'bg-indigo-500 text-white rounded-ee-none'
              : 'bg-slate-100 rounded-ss-none'
          "
        >
          <p>{{ message.text }}</p>
          <span
            class="text-sm float-end"
            [ngClass]="
              message.sender === userId ? 'text-slate-200' : 'text-slate-500'
            "
            >{{ message.date | dateAgo }}</span
          >
        </div>
        @if (message.sender === userId) {
          <i
            class="pi self-end"
            [ngClass]="message.isRead ? 'pi-check-circle' : 'pi-check'"
            style="font-size: 0.7rem"
          ></i>
        }
      </li>
    </ul>
  </div>
  <div class="p-3 bg-slate-200">
    <textarea
      class="w-full rounded-3xl"
      rows="1"
      pInputTextarea
      [(ngModel)]="message"
      (keydown.enter)="sendMessage($event)"
    ></textarea>
  </div>
}
