<div class="flex">
  <div
    class="grow shrink-0 basis-[330px] min-w-0 px-3"
    [ngClass]="{ 'hidden md:block': !chatOpened }"
  >
    <div class="relative">
      <p-autoComplete
        (onSelect)="selectChat($event)"
        [suggestions]="suggestions"
        (completeMethod)="searchUsers($event)"
        optionLabel="name"
        field="username"
        class="block p-fluid mb-3 [&_input]:pr-9"
        placeholder="Search"
      >
        <ng-template let-user pTemplate="item">
          <div class="flex items-center gap-2">
            @if (user.img) {
              <p-avatar
                class="flex"
                image="{{ user.img + (user?.isGoogleUser ? '' : 'thumbnail') }}"
                size="normal"
                shape="circle"
              />
            } @else {
              <p-avatar
                label="{{ user.username | avatarLetter }}"
                class="flex"
                size="normal"
                shape="circle"
              />
            }

            <div>{{ user?.username }}</div>
          </div>
        </ng-template>
      </p-autoComplete>
      <i
        class="pi absolute top-4 right-4 text-gray-400"
        [ngClass]="searchLoading ? 'pi-spin pi-spinner' : 'pi-search'"
      ></i>
    </div>
    <ul>
      <li *ngFor="let chat of chats" class="mb-4">
        <p-card
          class="[&_.p-card-content]:p-0 hover:[&_.p-card]:bg-slate-100 cursor-pointer"
          [ngClass]="{
            '[&_.p-card]:bg-slate-200': currentChatId === chat._id,
            'hover:[&_.p-card]:bg-slate-200': currentChatId === chat._id,
          }"
          [routerLink]="[chat._id]"
        >
          @if (chat.user) {
            <div class="flex justify-between items-center gap-4">
              @if (chat.user.img) {
                <p-avatar
                  class="flex"
                  image="{{ chat.user.img + (chat.user.isGoogleUser ? '' : 'thumbnail') }}"
                  size="large"
                  shape="circle"
                />
              } @else {
                <p-avatar
                  label="{{ chat.user.username | avatarLetter }}"
                  class="flex"
                  size="large"
                  shape="circle"
                />
              }
              <div class="overflow-hidden flex-1">
                <h3>
                  {{ chat.user.username }}
                  @if (chat.user.isOnline) {
                    &nbsp;<i
                      class="flex items-center pi pi-circle-fill text-green-600 text-[8px]"
                    ></i>
                  }
                </h3>
                <div class="flex items-center gap-2">
                  @if (chat.lastMessage) {
                    <span
                      class="whitespace-nowrap overflow-hidden text-ellipsis text-slate-500 min-w-0"
                      title="{{ chat.lastMessage.text }}"
                    >
                      {{ chat.lastMessage.text }}
                    </span>
                  }
                  @if (!!chat.unreadCount) {
                    <p-badge [value]="chat.unreadCount" />
                  }
                </div>
              </div>
              @if (chat.lastMessage) {
                <span class="text-slate-500 text-base">{{
                  chat.lastMessage.date | dateAgo | async
                }}</span>
              }
              @if (chatOpened) {
                <span class="text-[--primary-color] font-medium">Message</span>
              }
            </div>
          }
        </p-card>
      </li>
    </ul>
    <img class="mx-auto" [ngClass]="!chats.length ? 'max-w-44  my-10' : 'max-w-12 my-5'" src="/assets/icons/space.svg" alt="space icon">
    @if (!chats.length) {
      <div class="text-center text-slate-500 text-xl">Nothing here. Try to find someone to chat with!</div>
    }
  </div>
  <router-outlet></router-outlet>
</div>
