<div id="app">
  <p-toast key="notifications" />
  <nav class="flex px-2 shadow-md">
    <a routerLink="/"
      ><img src="/assets/logo.png" class="w-16 h-auto mr-5"
    /></a>
    <span class="flex items-center">
      @if (isOnline$ | async) {
        Online
      } @else {
        Offline
      }
    </span>
    @if (!isLoggedIn) {
      <ul class="flex items-center gap-2 ml-auto">
        <li>
          <a [routerLink]="routes.REGISTER">Sign Up</a>
        </li>
        <li>
          <a [routerLink]="routes.LOGIN">Login</a>
        </li>
      </ul>
    } @else {
      <ul class="flex items-center gap-2 ml-auto">
        <li>
          <p-button severity="secondary" label="{{ username }}" (click)="openUserModal()"></p-button>
        </li>
        <li>
          <p-button severity="secondary" (click)="logout()">LogOut</p-button>
        </li>
      </ul>
    }
  </nav>

  <div class="container mx-auto pt-2">
    <router-outlet></router-outlet>
  </div>
</div>
