<div id="app" class="pt-20">
  <p-toast key="notifications" [life]="10000" />
  <nav class="flex items-center px-2 shadow-md h-20 fixed top-0 z-10 w-full bg-white">
    <a routerLink="/"><img src="/assets/logo.svg" class="h-12 w-auto mr-3" /></a>
    @if (isLoading) {
      <p-progressSpinner
        [style]="{ width: '2rem', height: '2rem' }"
        strokeWidth="8"
        animationDuration=".5s"
      />
    }
    @if (isLoggedIn) {
      <p-menu #menu [model]="items" [popup]="true" />
      <div
        pButton
        pRipple
        [text]="true"
        (click)="menu.toggle($event)"
        class="flex items-center gap-2 ml-auto"
      >
        @if (user?.img) {
          <p-avatar
            image="{{ user?.img + 'thumbnail' }}"
            size="large"
            shape="circle"
            class="flex"
          />
        } @else {
          <p-avatar
            label="{{ user?.username | avatarLetter }}"
            class="flex"
            size="large"
            shape="circle"
          />
        }
        <span class="text-slate-700 flex items-center gap-2"
          >{{ user?.username
          }}<i
            class="flex items-center pi pi-circle-fill text-[8px]"
            [ngClass]="(isOnline$ | async) ? 'text-green-600' : 'text-red-600'"
          ></i>
        </span>
      </div>
    }
  </nav>

  <div class="container mx-auto pt-2">
    <router-outlet></router-outlet>
  </div>
</div>
