<div class="container flex justify-center items-center">
  <p-card class="w-full md:w-1/3">
    @if (!isLoggedIn) {
    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="mb-2">
        <label for="username" class="block">Username</label>
        <input
          type="text"
          pInputText
          placeholder="Username"
          formControlName="username"
          class="w-full"
        />
      </div>
      <div class="mb-2">
        <label for="password" class="block">Password</label>
        <p-password formControlName="password" [feedback]="false" [toggleMask]="true" class="block w-full [&_input]:w-full [&>div]:w-full" />
      </div>

      <p-button
        type="submit"
        label="Submit"
        [disabled]="loginForm.invalid"
      ></p-button>
    </form>
    } @else {
    <p-messages
      [value]="[
        {
          severity: 'success',
          summary: 'Success',
          detail: 'Logged in as {{ username }}'
        }
      ]"
      [closable]="false"
    ></p-messages>
    }
  </p-card>
</div>
