@if (user) {
  @if (!isLoggedUser) {
    <div class="mb-4 pt-2">
      @if (user.img) {
        <p-image
          src="{{ user.img }}"
          alt="Image"
          class="w-full h-auto aspect-square"
          imageClass="border border-slate-300 rounded-full"
          [preview]="true"
          appendTo="body"
        >
      </p-image>
      } @else {
        <div class="flex justify-center">
          <div
            class="flex justify-center items-center rounded-full bg-slate-100 text-xl h-24 aspect-square"
          >
            {{ user.username | avatarLetter }}
          </div>
        </div>
      }
    </div>
    <div class="flex flex-col items-center">
      <h3 class="mb-2 text-lg">{{ user.username }}</h3>
      <p>{{ user.email }}</p>
      @if (!user.isOnline && user.lastSeen) {
        <p>{{ user.lastSeen | dateAgo }}</p>
      } @else if (user.isOnline) {
        <p>Online</p>
      }
    </div>
  } @else {
    <app-my-profile [user]="user"></app-my-profile>
  }
} @else {
  <p>Please login.</p>
}
